<ul class="main">
	<li><span class="nav-title">Playing:</span>
		<ul>
{{for title in site.now_playing}}
			<li class="nav-item"><a href="{{site.base_url}}game/{{string_urlize title}}">{{title}}</a></li>
{{end}}
		</ul>
	</li>
	<li><span class="nav-title">Glogging:</span>
		<ul>
			<li class="nav-item"><a href="{{site.base_url}}">Newest Posts</a></li>
			<li class="nav-item"><a href="{{site.base_url}}upcoming/">Upcoming Games</a></li>
			<li class="nav-item"><a href="{{site.base_url}}backlog/">Insufferable Backlog</a></li>
		</ul>
	</li>
	<li><span class="nav-title">Categories:</span>
		<ul>
{{for category in site.categories_sorted}}
			<li class="nav-item"><a href="{{site.base_url}}category/{{string_urlize category}}/">{{category}}</a></li>
{{end}}
		</ul>
	</li>
	<li><span class="nav-title">Archives:</span>
		<ul>
			<li class="nav-item"><a href="{{site.base_url}}game/">All Games</a></li>
			<li class="nav-item"><a href="{{site.base_url}}platform/">All Platforms</a></li>
			<li class="nav-item"><a href="{{site.base_url}}tag/">All Tags</a></li>
			<li class="nav-item"><a href="{{site.base_url}}post/">All Posts</a></li>
		</ul>
	</li>
</ul>
