name: Test

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  Test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: SetupDotNet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: TestGlogGenerator
        run: |
          dotnet test GlogGenerator.Test/GlogGenerator.Test.csproj

      - name: BuildGlogGenerator
        run: |
          rm -rf GlogGeneratorBuild
          dotnet build GlogGenerator/GlogGenerator.csproj --configuration Release --output GlogGeneratorBuild

      - name: BuildStaticSite
        run: |
          rm -rf public
          ./GlogGeneratorBuild/GlogGenerator build -i . -t GlogGeneratorBuild/templates -h "https://tsuereth.com" -o public

