name: UpdateDataAndBuildAndDeploy

on:
  workflow_dispatch:
  push:
    branches:
      - main
  # Run on a schedule to keep data updated even if there's no new content.
  schedule:
    - cron: '0 12 * * 5'

jobs:
  UpdateDataAndBuildAndDeploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: SetupDotNet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: TestGlogGenerator
        run: |
          dotnet test GlogGenerator.Test/GlogGenerator.Test.csproj

      - name: BuildGlogGenerator
        run: |
          rm -rf GlogGeneratorBuild
          dotnet build GlogGenerator/GlogGenerator.csproj --configuration Release --output GlogGeneratorBuild

      - name: UpdateDataAndBuildStaticSite
        env:
          TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
        run: |
          rm -rf public
          ./GlogGeneratorBuild/GlogGenerator build -i . -t GlogGeneratorBuild/templates -u true --igdb-client-id jy5t8x2w2eqdc7bax2zx3rlne7eup4 --igdb-client-secret $TWITCH_CLIENT_SECRET -w true -h "https://tsuereth.com" -o public

      - name: SetupPullRequestValues
        run: |
          echo "GLOG_PR_BRANCH=autoupdate-$GITHUB_RUN_NUMBER.$GITHUB_RUN_ATTEMPT" >> "$GITHUB_ENV"
          echo "GLOG_PR_DESCRIPTION=[skip ci] Automatically-updated content." >> "$GITHUB_ENV"

      - name: CreatePullRequest
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          author: GitHub <noreply@github.com>
          commit-message: ${{ env.GLOG_PR_DESCRIPTION }}
          title: ${{ env.GLOG_PR_DESCRIPTION }}
          body: ${{ env.GLOG_PR_DESCRIPTION }}
          branch: ${{ env.GLOG_PR_BRANCH }}
          base: main

      - name: Deploy
        env:
          DEPLOY_GLOG_PRIVATE_KEY: ${{ secrets.DEPLOY_GLOG_PRIVATE_KEY }}
        run: |
          echo "$DEPLOY_GLOG_PRIVATE_KEY" > deploy-glog_id_rsa
          chmod 0600 deploy-glog_id_rsa
          rsync -vrtL --checksum --omit-dir-times --cvs-exclude --delete \
            -e "ssh -p 31771 -i deploy-glog_id_rsa -o StrictHostKeyChecking=no" \
            public/* \
            "deploy-glog@tsuereth.com:/var/www/tsuereth_web/glog/"

      - name: Cleanup
        if: ${{ always() }}
        run: |
          rm -f deploy-glog_id_rsa

